# Arquivos de controle, usados para comparar com o estado real da infraestrutura.
# Os arquivos .tf diz oq vc quer, o .tfstate diz oq já existe.
*.tfstate
*.tfstate.*
# Diretório contendo cache e arquivos temporarios de plugins, provider's e modulos externos.
.terraform/
# Variáveis locais podendo contenter informações sensíveis.
terraform.tfvars
# Logs de erros do terraform.
*.log
# Arquivo de crash do terraform, contendo informações sensíveis.
crash.log
