# Control files, used to compare with the real state of the infrastructure.
# The .tf files say what you want, the .tfstate files say what already exists.
*.tfstate
*.tfstate.*
# Directory containing temporary files for plugins, providers and external modules.
.terraform/
# Local variables that may contain sensitive information.
terraform.tfvars
# Log files about terraform executions.
*.log
crash.log
