# ----------------------------
# Terraform (infra/)
# ----------------------------
# Control files, used to compare with the real state of the infrastructure.
# The .tf files say what you want, the .tfstate files say what already exists.
*.tfstate*
# Directory containing temporary files for plugins, providers and external modules.
.terraform/
# Local variables that may contain sensitive information.
*.tfvars*
# Log files about terraform executions.
*.log

# ----------------------------
# Database (database/)
# ----------------------------
# Ignore DuckDB database files.
database/*.duckdb

# ----------------------------
# Data (data/)
# ----------------------------
# Ignore all files in the data directory except for .gitkeep files to maintain directory structure.
data/*
!data/.gitkeep

# ----------------------------
# dbt (app/dbt/)
# ----------------------------
# dbt user-specific config.
app/dbt/profiles.yml
# dbt user-specific config.
app/dbt/.user.yml
# dbt command history.
app/dbt/.bash_history

# Directories created by dbt for compiled code, packages, and logs.
app/dbt/target/
app/dbt/dbt_packages/
app/dbt/logs/
app/dbt/dbt_modules/

# ----------------------------
# Python (global)
# ----------------------------
# Compiled Python bytecode cache files.
__pycache__/
*.py[cod]

# Local Python virtual environment.
.venv/
venv/
.env/
env/

# ----------------------------
# Docker (global)
# ----------------------------
# Ignore Docker files in any directory.
**/.dockerignore
**/Dockerfile~
**/docker-compose.override.yml

# ----------------------------
# MacOS (global)
# ----------------------------
# MacOS system files.
.DS_Store
